table {
    border-spacing: 3px;
}
td {
    padding: 10px;
}
#bg-hitam {
    background-color: black;
    color: white;
}
#bg-hijau {
    background-color: darkgreen;
    color: white;
}
#bg-merah {
    background-color: red;
    color: white;
}
